<h2>Webservice van de Adlib Gebruikersgroep</h2>

<p>Adlib is software voor collectie-registratie. De Alib Gebruikersgroep is een vereniging van mensen en instellingen die gebruik maken van die software.  </p>

<h3>Getty Vocabularies AAT in Adlib XML</h3>

<p>Door middel van deze webservice kun je thesaurustermen in Adlib ontlenen en/of aanvullen met informatie uit de Art &amp; Architecture Thesaurus.  </p>

<p>De service is bedoeld als een zogenaamde <em>Advanced External Source</em> in Adlib. Om die te kunnen gebruiken, zijn aanpassingen in je Adlib-applicatie nodig. In <a href="/static/Advanced_external_source_v_service.adlibug.nl.pdf">dit document</a> is beschreven hoe je die aanpassingen kunt maken.  </p>

<h4>Wat doet het?</h4>

<p>Hoe het werkt voor gebruikers is te zien in deze video.  </p>

<iframe src="https://player.vimeo.com/video/372652439" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

<h4>Wat moet je aanpassen in Adlib?</h4>

<p>In <a href="/static/Advanced_external_source_v_service.adlibug.nl.pdf">dit document</a> (Engels) is beschreven hoe je Adlib kunt aanpassen. Enige bekendheid met de bediening van Adlib Designer is noodzakelijk.  </p>

<h4>Hoe ziet een query-URL eruit?</h4>

<p>De basis-URL voor de AAT-webservice is  </p>

<pre><code>http://service.adlibug.nl/aat/search?term=
</code></pre>

<p>Een zoekopdracht heet een query-URL, die ziet er zo uit:  </p>

<p><a href="http://service.adlibug.nl/aat/search?term=fiets">http://service.adlibug.nl/aat/search?term=fiets</a>  </p>

<p>Probeer het maar! Standaard zoekt de service naar <strong>Nederlandse</strong> termen. <strong>Engels</strong>, <strong>Frans</strong> en <strong>Duits</strong> zijn ook mogelijk. Dat kun je opgeven in de query-URL:  </p>

<p><a href="http://service.adlibug.nl/aat/search?term=bicycle&amp;lang=en">http://service.adlibug.nl/aat/search?term=bicycle&amp;lang=en</a>  </p>

<p><a href="http://service.adlibug.nl/aat/search?term=bicyclette&amp;lang=fr">http://service.adlibug.nl/aat/search?term=bicyclette&amp;lang=fr</a>  </p>

<p><a href="http://service.adlibug.nl/aat/search?term=fahrrad&amp;lang=de">http://service.adlibug.nl/aat/search?term=fahrrad&amp;lang=de</a>  </p>

<p>In Adlib Designer geef je de <em>external source</em> voor je termen (bijvoorbeeld Objectnaam, Object categorie of Trefwoord) voor elk veld in tabblad <em>Linked field properties</em>, box <em>External sources</em>, veld  <em>Path to URL</em>. Voor Nederlands geef je dit:  </p>

<pre><code>http://service.adlibug.nl/aat/search?term=%data%
</code></pre>

<p>Voor Duits zou je dit doen:  </p>

<pre><code>http://service.adlibug.nl/aat/search?term=%data%&amp;lang=de
</code></pre>

<p>Merk op dat er geen aanhalingstekens om <code>%data%</code> nodig zijn, en ook geen '*' erachter om rechtstruncatie af te dwingen. Dit doet de service vanzelf al. Dus als je zoekt op 'crystol' krijg je 'crystolea', 'crystoleum' en 'crystoleums'.  </p>

<h4>Welke velden kan de service geven?</h4>

<p>Het antwoord op deze query kan onderstaande velden bevatten.  </p>

<table>
<thead>
<tr>
  <th>veldnaam</th>
  <th>inhoud</th>
  <th>standaard Adlib</th>
  <th>tag</th>
</tr>
</thead>
<tbody>
<tr>
  <td><code>term</code></td>
  <td>de gevonden term</td>
  <td>ja</td>
  <td><code>te</code></td>
</tr>
<tr>
  <td><code>source.number</code></td>
  <td>URL en URI<sup>4</sup> van de term in Getty Vocabularies</td>
  <td>ja, zie 1a.</td>
  <td><code>tn</code></td>
</tr>
<tr>
  <td><code>term.number</code></td>
  <td>URL en URI<sup>4</sup> van de term in Getty Vocabularies</td>
  <td>ja, zie 1b.</td>
  <td><code>tn</code></td>
</tr>
<tr>
  <td><code>Getty_ID</code></td>
  <td>URI<sup>4</sup> van de term in Getty Vocabularies</td>
  <td>nee, zie 1c.</td>
  <td></td>
</tr>
<tr>
  <td><code>Getty_url</code></td>
  <td>URL<sup>4</sup> van de term in Getty Vocabularies</td>
  <td>nee, zie 1c.</td>
  <td></td>
</tr>
<tr>
  <td><code>source</code></td>
  <td>'Getty Vocabularies AAT, CC-BY license', altijd</td>
  <td>ja</td>
  <td><code>br</code></td>
</tr>
<tr>
  <td><code>scope_note</code></td>
  <td>Scope note</td>
  <td>ja</td>
  <td><code>sn</code></td>
</tr>
<tr>
  <td><code>history_note</code></td>
  <td>historische notitie</td>
  <td>ja</td>
  <td><code>hn</code></td>
</tr>
<tr>
  <td><code>term_type</code></td>
  <td><em>Soort term</em> in Getty Vocabularies</td>
  <td>nee, zie 2.</td>
  <td></td>
</tr>
<tr>
  <td><code>term_type_uri</code></td>
  <td>link naar Soort term in Getty Vocabularies</td>
  <td>nee, zie 2.</td>
  <td></td>
</tr>
<tr>
  <td><code>broader.term</code></td>
  <td><em>Preferred broader term</em> van de <em>gevonden term</em> in Getty Vocabularies</td>
  <td>ja, zie 3.</td>
  <td><code>bt</code></td>
</tr>
</tbody>
</table>

<h3>noten</h3>

<ol>
<li><p>Deze URL is een unieke, persistente identifier in de vorm van een internet-link naar het Getty ID voor de term. In welk veld zet je die? <br />
a. Applicatie-versie 4.5 heeft standaard een veld <code>source.number</code> met tag <code>tn</code> van het data-type <em>Application</em>. <br />
b. Applicatie-versies 3.4 en 4.2 bevatten standaard het veld <code>term.number</code> met tag <code>tn</code>, van het data-type <em>Text</em>. Meestal wil je een hyperlink aanklikbaar hebben, dus dan moet het data-type van dat veld <em>Application</em> worden. <br />
c. Als je ervoor kiest om in je thesaurus een aparte veldgroep aan te maken voor deze velden, dan moet je in de data dictionary het Engelstalige URL-veld <code>Getty_ID</code> noemen in de data dictionary.  </p></li>
<li><p>Adlib bevat een veld <em>soort term</em> (<code>term.type</code>) voor het domein van de term (bijvoorbeeld <em>vervaardiger</em> of <em>materiaalsoort</em>). In Getty Vocabularies heeft <code>term_type</code> eerder de functie van <em>term status</em>, maar de waardes daarvan komen niet overeen met die in Adlib. Daarom is dit veld wel bruikbaar ter oriëntatie, maar minder geschikt om over te nemen in Adlib. Hetzelfde geldt voor <code>term_type_uri</code>.  </p></li>
<li><p>Of je Getty's Broader Preferred term al dan niet moet overnemen in je eigen thesaurus, hangt sterk af van je collectie.  </p></li>
<li><p>Gemakshalve noemen we een 'URL' <a href="http://vocab.getty.edu/page/aat/300212636"><em>human-readable</em></a>, en een 'URI' <a href="http://vocab.getty.edu/aat/300212636"><em>machine-readable</em></a>. De service geeft beiden. <br />
<br>  </p></li>
</ol>

<h4>Hoe werkt het?</h4>

<p>Zie onderstaand plaatje. Het begint met een term die je invoert in een thesaurus-veld in Adlib. De service verpakt die term in een SPARQL-query-url, en stuurt die naar de AAT van het SPARQL-endpoint van Getty Vocabularies. Die geeft antwoord in json. De service zet dat antwoord om in Adlib-XML. Daarmee zijn velden in het antwoord direct bruikbaar in Adlib.  </p>

<p><img src="/static/gvp2ax2.jpg" alt="Hoe werkt de service" title="Interface tussen Getty Vocabularies en Adlib. Van linksboven met de klok mee: een term ingevoerd in een gevalideerd veld wordt verpakt in een query die naar het SPARQL-endpoint van Getty Vocabularies gaat. Het antwoord in json wordt verwerkt tot Adlib XML en is daarmee direct beschikbaar in de thesaurus." />  </p>

<h4>Colofon</h4>

<ul>
<li>Project van <a href="http://www.rolfblijleven.nl">Rolf Blijleven</a>, contact <a href="https://twitter.com/RolfBly">@RolfBly</a>.  </li>
<li>Hosting door <a href="https://www.pythonanywhere.com">PythonAnywhere</a>.  </li>
</ul>

<p>Met dank aan het support team van het <a href="https://groups.google.com/forum/#!forum/gettyvocablod">Getty Vocabularies Project</a> en aan de overige leden van het bestuur van de Adlib Gebruikersgroep.  </p>

<p>De code voor dit project is open source software, beschikbaar via <a href="https://github.com/RolfBly/gv2ax">Github</a> onder een <a href="https://choosealicense.com/licenses/gpl-3.0/">GNU General Public Licentie versie 3.0</a>.  </p>

<p><br> <br />
<br>  </p>
